<div class="container-fluid text-center pt-0 m-0" style="z-index:2000">
    <img src="~/gif/404_handle.gif" class="error"/>
    <h1 class="grey"><strong>Ooops!</strong></h1>
    <h3 class="grey">Something went wrong</h3>
    <a href="tel:0712035642" class="btn w3-card"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>&nbsp;&nbsp;Contact Admin</a>
    <a  asp-action="log_in" asp-controller="log_in" class="btn w3-card"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Go Home</a>
</div>